@use "../global" as *;
@use "../partials" as *;

.doctordetails {
  padding: size(48) size(0) size(0);
  
  @include breakpoint(tab992) {
    padding: size(80) size(0) size(0);
  }
  
  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-column;
    gap: size(14);

    h5 {
      color: $primary;
    }

    .title {
      color: $black;
      font-size: size(24);
      font-style: normal;
      font-weight: 700;
    }
  }

  &-body {
    @include flex-column;
    gap: size(64);

    .doctor-thumb {
      @include wh100;
      @include flex-center;
      overflow: hidden;
      position: relative;
      min-height: size(240);
      max-height: size(690);
      
      &::before,
      &::after {
        content: '';
        background: rgba($black, 0.1);
        position: absolute;
        inset: 0;
        pointer-events: none;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
      }

      &::before {
        transform-origin: left top;
      }

      &::after {
        transform-origin: right bottom;
      }

      img {
        @include wh100;
        @include transitiontransform;
      }

      &:hover,
      &:focus {
        &::before,
        &::after {
          transform: scale3d(1, 1, 1);
        }

        img {
          @include scale(1.1);
        }
      }
    }

    .doctordescription {
      @include flex-column;
      gap: size(80);
    }

    .infos {
      @include flex-column;
      gap: size(48);
    }

    .info {
      @include flex-column;
      gap: size(24);

      .title {
        color: $black;
        font-size: size(20);
        font-style: normal;
        font-weight: 700;
      }

      ul {
        @include flex-column;
        gap: size(24);
      }
    }

    .docinfo {
      @include flex-column;
      gap: size(32);
      margin-top: size(24);

      @include breakpoint(tab992) {
        margin-top: size(0);
      }

      .doclist {
        @include list-vertical;
        gap: size(8);

        &-link {
          @include flex-center-vert;
          gap: size(10);

          .icon {
            @include square(18);
            @include flex-center;
            overflow: hidden;
          }

          .text {
            color: $textprimary;
            font-size: size(15);
            font-style: normal;
            font-weight: 400;
          }
        }
      }

      .sociallist {
        @include list-horizontal;
        gap: size(16);
        padding-left: size(28);

        &-link {
          @include square(18);
          @include flex-center;
          overflow: hidden;
        }
      }
    }
  }
}