@use "../global" as *;
@use "../partials" as *;

.faqsection {
  padding: size(48) size(0) size(0);
  
  @include breakpoint(tab992) {
    padding: size(80) size(0) size(0);
  }

  &-details {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    .italic-text {
      color: $primary;
    }

    .title {
      color: $black;
      font-size: size(24);
      font-style: normal;
      font-weight: 700;
    }
  }
}

.faqbanner {
  min-height: size(220);
  max-height: size(590);

  &-thumbnail {
    min-height: size(220);
    max-height: size(590);
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
    }
  }
}