@use "../global" as *;
@use "../partials" as *;

.portfoliodetails {
  padding: size(48) size(0) size(0);
  
  @include breakpoint(tab992) {
    padding: size(80) size(0) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    h5 {
      color: $primary;
    }

    .icontitle {
      &::after {
        transform: translate(-50%, size(0));
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(40);

    .portfoliothumb {
      @include flex-center;
      @include w100;
      min-height: size(180);
      max-height: size(650);
      overflow: hidden;
      position: relative;

      @include breakpoint(mobile500) {
        min-height: size(260);
      }

      @include breakpoint(mobile768) {
        min-height: size(340);
      }

      @include breakpoint(tab992) {
        min-height: size(400);
      }

      &::before,
      &::after {
        content: '';
        background: rgba($black, 0.1);
        position: absolute;
        inset: 0;
        pointer-events: none;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
      }

      &::before {
        transform-origin: left top;
      }

      &::after {
        transform-origin: right bottom;
      }

      img {
        @include wh100;
        @include transitiontransform;
      }

      &:hover,
      &:focus {
        &::before,
        &::after {
          transform: scale3d(1, 1, 1);
        }

        img {
          @include scale(1.1);
        }
      }
    }

    .portfolio-info {
      @include flex-column;
      gap: size(24);

      &-header {
        .title {
          color: $black;
          font-size: size(24);
          font-style: normal;
          font-weight: 700;
        }

        .headinfo {
          @include flex-center-between;
          flex-wrap: wrap;
          gap: size(10);

          .leftinfo {
            @include flex-center-vert;
            gap: size(12);
            
            @include breakpoint(mobile768) {
              gap: size(24);
            }

            .text {
              font-size: size(16);
            }
          }

          .rightinfo {
            .social-list {
              gap: size(10);
            
              @include breakpoint(mobile768) {
                gap: size(16);
              }
            }
          }
        }
      }
    }
  }
}