@use "../../global" as *;
@use "../../partials" as *;

.accordion {
  &-item {
    border: none;
    @include border-single(bottom, solid, 1, $inputborder);

    &:first-of-type {
      .accordion-button {
        @include radius(0);
      }
    }

    &:first-of-type,
    &:last-of-type {
      @include radius(0);
    }

    &:last-of-type {
      .accordion-button.collapsed {
        @include radius(0);
      }
    }
  }
  
  &-button {
    border: none;
    padding: size(15) size(18);
    @include setBgColor($white, $textprimary);
    font-family: $arsenal;
    font-size: size(14);
    font-style: normal;
    font-weight: 400;

    @include breakpoint(tab992) {
      font-size: size(16);
    }

    &:not(.collapsed) {
      @include setBgColor($white, $textprimary);
      @include border-single(bottom, solid, 1, $inputborder);
      box-shadow: none;
    }

    &:focus {
      border-color: $inputborder;
    }
  }

  &-body {
    background: $inputbg;
    padding: size(18);
  
    @include breakpoint(tab992) {
      padding: size(18) size(24);
    }
  }
}