@use "../../global" as *;
@use "../../partials" as *;

.card-service {
  @include flex-column;
  gap: size(48);
  @include h100;

  &-header {
    position: relative;

    .service-thumbnail {
      @include flex-center;
      @include w100;
      height: size(294);
      overflow: hidden;
      position: relative;

      &::before,
      &::after {
        content: '';
        background: rgba($black, 0.1);
        position: absolute;
        inset: 0;
        pointer-events: none;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
      }

      &::before {
        transform-origin: left top;
      }

      &::after {
        transform-origin: right bottom;
      }

      img {
        @include wh100;
        @include transitiontransform;
      }

      &:hover,
      &:focus {
        &::before,
        &::after {
          transform: scale3d(1, 1, 1);
        }

        img {
          @include scale(1.1);
        }
      }
    }

    .servicecount {
      color: rgba($black, 0.20);
      font-family: $raleway;
      font-size: size(116);
      font-style: normal;
      font-weight: 700;
      position: absolute;
      bottom: size(-60);
      left: 0;
    }
  }

  &-body {
    @include flex-column;
    gap: size(16);

    .servicetitle {
      color: $black;
      font-family: $raleway;
      font-size: size(16);
      font-style: normal;
      font-weight: 700;
      @include line-clamp;
      @include transitionscolor;

      @include breakpoint(tab992) {
        font-size: size(20);
      }

      @include hover {
        color: $primary;
      }
    }

    .servicetext {
      color: $textprimary;
    }
  }
}

.card-gallery {
  @include flex-column;
  gap: size(24);
  @include h100;

  &-header {
    @include w100;
    height: size(360);
    @include flex-center;
    overflow: hidden;
  }

  &-body {
    @include flex-column;
    gap: size(14);

    .gallerytitle {
      color: $black;
      font-size: size(20);
      font-style: normal;
      font-weight: 700;
      @include line-clamp;
      @include transitionscolor;

      @include hover {
        color: $primary;
      }
    }

    .gallerytext {
      font-size: size(14);
      font-style: normal;
      font-weight: 400;
    }
  }
}

.cardreview {
  background: $white;
  @include border(solid, 1, $textlight);
  box-shadow: $ratingshadow;
  @include flex-column;
  gap: size(32);
  padding: size(32) size(40);

  .reviewlist {
    @include list-horizontal;

    &-item {
      @include square(32);
      @include flex-center;
      overflow: hidden;
    }
  }

  .reviewinfo {
    @include flex-column;
    gap: size(16);

    .section-text {
      font-size: size(16);
    }
  }

  .authorinfo {
    @include flex-center-vert;
    gap: size(8);

    .author-thumbnail {
      @include square(36);
      @include circle;
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
      }
    }

    .authorname {
      color: $black;
      font-size: size(20);
      font-style: normal;
      font-weight: 700;
    }
  }
}

.cardblog {
  @include flex-column;
  gap: size(14);

  &-header {
    @include flex-center;
    @include w100;
    height: size(210);
    overflow: hidden;
  }

  &-thumbnail {
    position: relative;
    @include wh100;
    @include flex-center;
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      background: rgba($black, 0.1);
      position: absolute;
      inset: 0;
      pointer-events: none;
      transform: scale3d(0, 0, 1);
      transition: transform .3s ease-out 0s;
    }

    &::before {
      transform-origin: left top;
    }

    &::after {
      transform-origin: right bottom;
    }

    img {
      @include wh100;
      @include transitiontransform;
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        transform: scale3d(1, 1, 1);
      }

      img {
        @include scale(1.1);
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(10);

    .blogcategory {
      color: $primary;
      font-weight: 700;
    }

    .blogtitle {
      color: $black;
      font-size: size(16);
      font-style: normal;
      font-weight: 700;
      @include line-clamp;

      @include breakpoint(desktop1400) {
        font-size: size(20);
      }

      @include hover {
        color: $primary;
      }
    }

    .publishdate {
      color: $textprimary;
    }
  }
}