@use "../global" as *;
@use "../partials" as *;

.myappointment {
  padding-top: size(80);

  &-details {
    @include flex-column;
    gap: size(60);
  }

  &-header {
    @include flex-column;
    gap: size(24);

    h5 {
      color: $primary;
    }

    .title {
      color: $black;
      font-size: size(24);
      font-style: normal;
      font-weight: 700;
    }
  }

  &-body {
    margin-bottom: size(48);

    @include breakpoint(tab992) {
      margin-bottom: 0;
    }

    .appointmentform {
      .form-control {
        @include setBgColor($inputbg, $footerbg);
        border: none;
        @include border-single(bottom, solid, 1, $inputborder);
        @include radius(0);
        font-size: size(14);
        font-style: normal;
        font-weight: 400;
        padding: size(11) size(16);
  
        &:focus {
          background: $theadbg;
          border-color: $theadbg;
        }
      }
  
      .form-control.is-valid, .was-validated .form-control:valid {
        background: $inputbg;
        border-color: $success;
      }
  
      .form-control.is-invalid, .was-validated .form-control:invalid {
        background: $inputbg;
        border-color: $danger;
      }

      .choices {
        font-size: size(14);
        margin-bottom: size(0);
      }

      .choices__inner {
        border: none;
        @include border-single(bottom, solid, 1, $inputborder);
        @include radius(0);
      }

      .choices[data-type*="select-one"]::after {
        border: none;
        content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='%23333333' stroke-linecap='square'/%3E%3C/svg%3E%0A");
        @include square(16);
        @include flex-center;
        margin-top: size(-5);
      }
  
      .choices[data-type*=select-one].is-open::after {
        border: none;
        margin-top: 0;
        @include rotate(180);
        margin-top: size(-10);
      }

      .btn-border {
        height: size(50);
      }
    }
  }

  .appointment-info {
    @include flex-column;
    gap: size(48);

    .appointment-thumb {
      @include w100;
      min-height: size(250);
      max-height: size(594);
      @include flex-center;
      overflow: hidden;
      position: relative;

      &::before,
      &::after {
        content: '';
        background: rgba($black, 0.1);
        position: absolute;
        inset: 0;
        pointer-events: none;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
      }

      &::before {
        transform-origin: left top;
      }

      &::after {
        transform-origin: right bottom;
      }

      img {
        @include wh100;
        @include transitiontransform;
      }

      &:hover,
      &:focus {
        &::before,
        &::after {
          transform: scale3d(1, 1, 1);
        }

        img {
          @include scale(1.1);
        }
      }
    }

    .details {
      @include flex-column;
      gap: size(36);
    }
  }
}