@use "../global" as *;
@use "../partials" as *;

.blogbanner {
  position: relative;
  @include flex-center;
  margin-bottom: size(80);
  height: size(160);

  @include breakpoint(mobile768) {
    height: size(250);
  }

  @include breakpoint(tab992) {
    height: size(450);
  }

  @include breakpoint(tab992) {
    height: 100vh;
  }

  &-content {
    @include flex-center-column;
    gap: size(40);
    position: relative;
    z-index: 100;
    text-align: center;
    max-width: 90%;
    margin-inline: auto;

    @include breakpoint(mobile768) {
      max-width: 100%;
    }

    .categorytext {
      color: $primary;
      font-weight: 700;
    }

    h1 {
      color: $white;
      font-weight: 700;
    }

    .blogtitle {
      color: $white;
      font-weight: 700;
    }

    .submitdate {
      color: $white;
      font-weight: 700;
    }
  }
}

.blogmain {
  .bodyicon {
    width: size(185);
    height: size(372);
    overflow: hidden;
    position: absolute;
    top: calc(100vh + size(48));
    left: size(-40);
    z-index: 10;
    display: none;

    @include breakpoint(tab992) {
      @include flex-center;
    }
  }
}

.blogdescriptions {
  .blogdetails {
    margin-bottom: size(64);

    @include breakpoint(tab992) {
      margin-bottom: size(96);
    }

    &-content {
      @include flex-column;
      gap: size(64);
  
      @include breakpoint(tab992) {
        gap: size(96);
      }
    }
  
    .bloginfo {
      @include flex-column;
      gap: size(48);
  
      .myinfo {
        @include flex-column;
        gap: size(24);
  
        .title {
          color: $textprimary;
          font-family: $arsenal;
          font-size: size(20);
          font-weight: 700;
        }
  
        .bloglist {
          @include flex-column;
          gap: size(4);
  
          &-item {
            font-size: size(15);
            font-style: normal;
            font-weight: 400;
          
            @include breakpoint(desktop1200) {
              font-size: size(18);
            }
          }
        }
  
        .instructionlist {
          @include list-vertical;
          gap: size(4);
  
          &-item {
            font-size: size(15);
            font-style: normal;
            font-weight: 400;
          
            @include breakpoint(desktop1200) {
              font-size: size(18);
            }
          }
        }
  
        .listinfo {
          @include flex-column;
          gap: size(24);
        }
      }
    }
  }

  .blogsingle {
    .blogdetails {
      max-width: 90%;
      margin-inline: auto;
      overflow: hidden;
  
      @include breakpoint(mobile768) {
        max-width: 100%;
      }
    }
  }

  .blogfoot {
    @include flex-center-column;
    gap: size(36);
    text-align: center;

    .title {
      color: $primary;
      font-family: $arsenal;
      font-size: size(18);
      font-style: normal;
      font-weight: 700;
    }

    .blogbuttons {
      @include flex-center;
      gap: size(20);

      .swiper-button-prev,
      .swiper-button-next {
        @include flex-center-vert;
        gap: size(4);

        .icon {
          @include square(16);
          margin-top: size(-4);
        }

        .text {
          font-weight: 700;
          color: $textprimary;
        }

        @include hover {
          .icon {
            svg {
              path {
                fill: $primary;
              }
            }
          }

          .text {
            color: $primary;
          }
        }
      }
    }
  }

  .alsolike {
    @include flex-column;
    gap: size(40);

    &-title {
      color: $footerbg;
      font-size: size(24);
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @include breakpoint(mobile768) {
        font-size: size(28);
      }

      @include breakpoint(tab992) {
        font-size: size(34);
      }
    }
  }
}