@use "../global" as *;
@use "../partials" as *;

.homebanner {
  @include w100;
  min-height: 100vh;
  @include flex-center-vert;
  position: relative;

  @include breakpoint(desktop1400) {
    min-height: size(853);
  }

  &-content {
    @include flex-column;
    gap: size(48);
    position: relative;
    z-index: 20;
  }

  &-info {
    @include flex-column;
    gap: size(24);
    color: $white;
  }

  &-buttons {
    @include flex-center-vert;
    gap: size(20);
    flex-wrap: wrap;
  }
}

.mainsection {
  background: $white;
  @include flex-column;
  gap: size(80);
  position: relative;
  z-index: 100;
  padding-bottom: size(80);

  @include breakpoint(desktop1200) {
    gap: size(150);
    padding-bottom: size(150);
  }

  .bodyicon {
    width: size(185);
    height: size(372);
    overflow: hidden;
    position: absolute;
    top: size(48);
    left: size(-40);
    z-index: 10;
    display: none;

    @include breakpoint(tab992) {
      @include flex-center;
    }

    &.centericon {
      top: 50%;
      @include translateY(-50%);
    }
  }
}

.facilities {
  padding-top: size(80);

  @include breakpoint(desktop1200) {
    padding-top: size(150);
  }

  &-info {
    @include flex-column;
    gap: size(48);
    position: relative;
    z-index: 100;

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    h5 {
      color: $primary;
    }
  }

  &-detail {
    @include flex-column;
    gap: size(40);
    margin-bottom: size(48);

    @include breakpoint(tab992) {
      margin-bottom: 0;
    }

    .facilitylist {
      &-item {
        color: $primary;
        font-size: size(15);
        font-style: normal;
        font-weight: 700;
      
        @include breakpoint(desktop1200) {
          font-size: size(18);
        }
      }
    }

    .appointmentinfo {
      @include flex-center-vert;
      max-width: size(232);
      overflow: hidden;
    }
  }
}

.ourservice {
  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    h5 {
      color: $primary;
    }

    .icontitle {
      &::after {
        transform: translate(-60%, size(0));
      }
    }
  }
}

.ourpractice {
  &-details {
    @include flex-column;
    gap: size(48);
    padding: size(32);
    background: $inputbg;

    @include breakpoint(desktop1400) {
      padding: size(64);
    }
  }

  &-header {
    @include flex-column;
    gap: size(24);

    h5 {
      color: $primary;
    }

    .icontitle {
      &::after {
        transform: translate(-60%, size(0));
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(40);
    margin-bottom: size(48);

    @include breakpoint(tab992) {
      margin-bottom: 0;
    }
  }

  .practice-thumbnail {
    @include flex-center;
    @include w100;
    position: relative;
    overflow: hidden;
    min-height: size(694);
    max-height: size(770);

    @include breakpoint(desktop1400) {
      min-height: size(758);
    }

    img {
      @include wh100;
      min-height: size(694);
      max-height: size(770);

      @include breakpoint(desktop1400) {
        min-height: size(758);
      }
    }

    .thumboverlay {
      background: rgba($black, 0.40);
      width: size(130);
      @include h100;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      @include flex-center;

      .morelink {
        color: $white;
        font-family: $raleway;
        font-size: size(13);
        font-style: normal;
        font-weight: 700;
        @include transitionscolor;

        @include hover {
          color: $textlight;
        }
      }
    }
  }
}

.experiences {
  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-column;
    gap: size(24);

    h5 {
      color: $primary;
    }

    .icontitle {
      &::after {
        transform: translate(-50%, size(0));
      }
    }
  }

  &-detail {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(96);
    }

    @include breakpoint(desktop1400) {
      gap: size(120);
    }
  }

  .experience-picture {
    position: relative;

    .experience-thumbnail {
      border-radius: size(0) size(600) size(0) size(0);
      @include w100;
      height: size(435);
      @include flex-center;
      overflow: hidden;

      @include breakpoint(desktop1400) {
        height: size(435);
      }

      img {
        @include wh100;
      }

      &.eventhumb {
        border-radius: size(620) size(0) size(0) size(0);
      }
    }

    .expicon {
      position: absolute;
      left: size(-74);
      bottom: size(-74);
      width: size(148);
    }

    &.evenpic {
      .expicon {
        left: auto;
        right: size(-74);
      }
    }
  }

  .experience-detail {
    @include flex-column;
    gap: size(40);

    .title {
      color: $black;
      font-weight: 700;
    }
  }
}

.bookappointment {
  margin-top: size(48);

  @include breakpoint(desktop1200) {
    margin-top: size(80);
  }

  &-info {
    @include flex-center-column;
    gap: size(64);
  }

  &-header {
    @include flex-center-column;
    gap: size(32);
    text-align: center;

    .icontitle {
      &::after {
        transform: translate(-70%, size(0));
      }
    }
  }

  &-body {
    @include flex-center;
  }
}

.ourgallery {
  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-column;
    gap: size(24);

    h5 {
      color: $primary;
    }

    .icontitle {
      &::after {
        transform: translate(-70%, size(0));
      }
    }
  }
}

.ourdoctors {
  min-height: 100vh;
  padding: size(80) size(0);
  
  @include breakpoint(desktop1200) {
    padding: size(120) size(0);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(160) size(0) size(125);
    min-height: size(1435);
  }

  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-column;
    gap: size(24);
    position: relative;
    z-index: 10;

    h5 {
      color: $primary;
    }
  }

  .doctorinfo {
    position: relative;

    .thumbicon {
      position: relative;

      .icon {
        width: size(162);
        height: size(170);
        @include flex-center;
        overflow: hidden;
        position: absolute;
        bottom: size(-85);
        right: size(-81);
        z-index: 200;
      }
    }

    .doctor-thumbnail {
      @include flex-center;
      @include w100;
      max-height: size(474);
      overflow: hidden;

      img {
        @include wh100;
      }
    }

    .detail {
      position: relative;
      margin-top: size(-48);
      z-index: 100;
      background: $footerbg;
      padding: size(24);
      @include flex-column;
      gap: size(24);
      max-width: 80%;
      margin-inline: auto;

      @include breakpoint(mobile768) {
        margin-top: size(-96);
        max-width: 70%;
      }

      @include breakpoint(tab992) {
        padding: size(48);
        max-width: 60%;
      }

      .name {
        color: $white;
        font-family: $raleway;
        font-size: size(22);
        font-style: normal;
        font-weight: 700;
      }
      
      .section-text {
        color: $white;
      }

      .learnmorebox {
        max-width: size(200);
        @include flex;
      }
    }
  }

  .sliderbuttons {
    position: absolute;
    top: 20%;
    @include w100;
    @include flex-center-between;
    z-index: 200;

    @include breakpoint(tab992) {
      top: 30%;
    }
  }
}

.ourpartner {
  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    h5 {
      color: $primary;
    }
  }

  .partner-thumb {
    @include w100;
    height: size(80);
    @include flex-center;
    overflow: hidden;

    img {
      filter: grayscale(100);
      @include transitionsall;
      
      @include hover {
        filter: grayscale(0);
      }
    }
  }
}

.ratingsec {
  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    h5 {
      color: $primary;
    }

    .icontitle {
      &::after {
        transform: translate(-165%, size(0));
      }
    }
  }
}

.blogsec {
  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    h5 {
      color: $primary;
    }

    .icontitle {
      &::after {
        transform: translate(-50%, size(0));
      }
    }
  }
}