@use '../global' as *;
@use '../partials' as *;

$font-13: size(13);
$font-14: size(14);
$font-16: size(16);
$font-18: size(18);
$font-20: size(20);
$font-22: size(22);
$font-24: size(24);
$font-52: size(52);
$font-70: size(70);
$font-116: size(116);