$time: 350ms;

// DEFAULT COLORS
$bodybg: hsl(0, 33%, 98%); //#FBF7F7
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000


// THEME-COLORS
$primary: hsl(19, 89%, 54%); //#F26522


// BACKGROUND-COLORS
$theadbg: hsl(18, 100%, 97%); //#FFF3EE
$inputbg: hsl(0, 0%, 96%); //#F5F5F5
$footerbg: hsl(0, 0%, 11%); //#1D1D1D
$overlaybg: rgba(58, 58, 58, 0.70);


// TEXT-COLORS
$textprimary: hsl(0, 0%, 20%); //#333333
$textlight: hsl(0, 0%, 91%); //#E8E8E8
$textgray: hsl(0, 0%, 78%); //#C7C7C7
$tabletext: hsl(210, 21%, 33%); //#425466


// BORDER-COLORS
$inputborder: hsl(0, 0%, 88%); //#E1E1E1


// SHADOWS


// BOX-SHADOWS
$ratingshadow: 0rem .25rem .75rem 0rem rgba($black, 0.05);