@use "../global" as *;
@use "../partials" as *;

.homebanner {
  @include w100;
  min-height: 100vh;
  @include flex-center-vert;
  position: relative;

  &-content {
    @include flex-column;
    gap: size(48);
    position: relative;
    z-index: 20;
  }

  &-info {
    @include flex-column;
    gap: size(24);
    color: $white;
  }

  &-buttons {
    @include flex-center-vert;
    gap: size(20);
    flex-wrap: wrap;
  }
}

.mainsection {
  background: $white;
  @include flex-column;
  gap: size(80);
  position: relative;
  z-index: 100;
  padding-bottom: size(80);

  @include breakpoint(desktop1200) {
    gap: size(150);
    padding-bottom: size(150);
  }

  .bodyicon {
    width: size(185);
    height: size(372);
    @include flex-center;
    overflow: hidden;
    position: absolute;
    top: size(48);
    left: size(-40);
    z-index: 10;
  }
}

.facilities {
  padding-top: size(80);

  @include breakpoint(desktop1200) {
    padding-top: size(150);
  }

  &-info {
    @include flex-column;
    gap: size(48);
    position: relative;
    z-index: 100;

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    h5 {
      color: $primary;
    }
  }

  &-detail {
    @include flex-column;
    gap: size(40);
    margin-bottom: size(48);

    @include breakpoint(tab992) {
      margin-bottom: 0;
    }

    .facilitylist {
      &-item {
        color: $primary;
        font-size: size(15);
        font-style: normal;
        font-weight: 700;
      
        @include breakpoint(desktop1200) {
          font-size: size(18);
        }
      }
    }

    .appointmentinfo {
      @include flex-center-vert;
      max-width: size(212);
      overflow: hidden;
    }
  }
}

.ourservice {
  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    h5 {
      color: $primary;
    }

    .icontitle {
      &::after {
        transform: translate(-60%, size(0));
      }
    }
  }
}

.ourpractice {
  &-details {
    @include flex-column;
    gap: size(48);
  }

  &-header {
    @include flex-column;
    gap: size(24);

    h5 {
      color: $primary;
    }

    .icontitle {
      &::after {
        transform: translate(-60%, size(0));
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(40);
    margin-bottom: size(48);

    @include breakpoint(tab992) {
      margin-bottom: 0;
    }
  }

  .practice-thumbnail {
    @include flex-center;
    @include wh100;
    position: relative;
    overflow: hidden;

    img {
      @include wh100;
    }

    .thumboverlay {
      background: rgba($black, 0.40);
      width: size(130);
      @include h100;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      @include flex-center;

      .morelink {
        color: $white;
        font-family: $raleway;
        font-size: size(13);
        font-style: normal;
        font-weight: 700;
        @include transitionscolor;

        @include hover {
          color: $textlight;
        }
      }
    }
  }
}

.experiences {
  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-column;
    gap: size(24);

    h5 {
      color: $primary;
    }

    .icontitle {
      &::after {
        transform: translate(-50%, size(0));
      }
    }
  }

  &-detail {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  .experience-picture {
    position: relative;

    .experience-thumbnail {
      border-radius: size(0) size(600) size(0) size(0);
      @include w100;
      height: size(300);
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
      }

      &.eventhumb {
        border-radius: size(620) size(0) size(0) size(0);
      }
    }

    .expicon {
      position: absolute;
      left: size(-74);
      bottom: size(-74);
      width: size(148);
    }

    &.evenpic {
      .expicon {
        left: auto;
        right: size(-74);
      }
    }
  }

  .experience-detail {
    @include flex-column;
    gap: size(40);

    .title {
      color: $black;
      font-weight: 700;
    }
  }

  .bookappointment {
    margin-top: size(48);

    @include breakpoint(desktop1200) {
      margin-top: size(80);
    }

    &-info {
      @include flex-center-column;
      gap: size(64);
    }

    &-header {
      @include flex-center-column;
      gap: size(32);
      text-align: center;
    }

    &-body {
      @include flex-center;
    }
  }
}

.blogsec {
  &-content {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    h5 {
      color: $primary;
    }

    .icontitle {
      &::after {
        transform: translate(-50%, size(0));
      }
    }
  }
}