@use "../global" as *;
@use "../partials" as *;

.clientreviews {
  padding: size(48) size(0) size(0);
  
  @include breakpoint(tab992) {
    padding: size(80) size(0) size(0);
  }

  &-details {
    @include flex-column;
    gap: size(48);

    @include breakpoint(desktop1200) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    h5 {
      color: $primary;
    }

    .title {
      color: $black;
      font-size: size(24);
      font-style: normal;
      font-weight: 700;
    }
  }
}