@use "../../global" as *;
@use "../../partials" as *;

.preloader {
  @include w100;
  height: 100vh;
  @include flex-center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background: $textlight;

  .loader {
    width: size(200);
    height: size(150);
    @include flex-center;
    overflow: hidden;

    .pulse {
      stroke-dasharray: 1840;
      stroke-dashoffset: 3680;
      animation: dash 2s ease-out infinite;
      stroke: url(#strokeGradient);
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}