@use "../../global" as *;
@use '../../global' as *;
@use '../../partials' as *;

.header {
  background: $white;
  @include border-single(bottom, solid, 1, $textlight);
  @include flex-center-vert;
  height: size(64);

  @include breakpoint(tab992) {
    height: size(100);
  }

  .brandlogo {
    @include flex-center;
  }
}